# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
# IntelliJ IDEA
.idea/*
!.idea/codeStyles/
!.idea/codeStyles/**
!.idea/inspectionProfiles/
!.idea/inspectionProfiles/**
!.idea/runConfigurations/
!.idea/runConfigurations/**
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/

# Other IDE/editor files
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.vscode/settings.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/
wiremock/system-admin/

# System files
.DS_Store
Thumbs.db
